:root{
    --text: #fcedd1;
    --background: #170f01;
    --primary: #f7c873;
    --secondary: #09a271;
    --accent: #23a3f3;
}

.img-logo{
    width: 50px;
    margin: 0px 10px;
}

.section-inicio{
    background-image: url('../img/entrada-fondo.png');
    color: aliceblue; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-intro{
    height: 50vh;
}
.section-destacados{
    height: 50vh;
}